/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;

	display: inline-block;
  }
  
  /* Nukun */
  .link--nukun {
	color: #9F2B00;
	font-weight: 900;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 0;
	transition: color 0.3s;
  }
  
  .link--nukun:hover {
	color: #FF9636;
  }
  
  .link--nukun::before,
  .link--nukun::after {
	content: '';
	position: absolute;
	width: 30%;
	height: 5px;
	background: #391306;
	bottom: 0;
	left: 35%;
	transition: transform 0.5s;
  }
  
  .link--nukun::after {
	background: #D05301;
	transform: translate3d(-300%,0,0) scale3d(0,1,1);
  }
  
  .link--nukun:hover::before {
	transform: translate3d(300%,0,0) scale3d(0,1,1);
  }
  
  .link--nukun:hover::after {
	transform: translate3d(0,0,0) scale3d(1,1,1);
  }
  
  .link--nukun span {
	color: #D37506;
	display: inline-block;
	position: relative;
	transition: transform 0.5s, color 0.5s;
  }
  
  .link--nukun:hover span {
	color: #5C0601;
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
  }
  .mobile-button button {
	background:  #D3A550;
	color: #0f0f0f;
	border: none;
	border-radius: 30px;
	padding: 15px 30px;
	font-size: 1.4em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
	cursor: pointer;
  }
  
  .mobile-button button:hover {
	background:  #a88037;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	transform: translateY(-3px);
  }
  /* Mobile fixes */
  @media (max-width: 767px) {
	.link {
	  font-size: 4.5em !important;
	  line-height: 1.2 !important;
	}
	.link--nukun {
		margin-top: 15vh !important;
		display: block !important;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
	  }
	.link--nukun span {
	  font-size: 0.5em !important;
	  vertical-align: middle;
	  backface-visibility: visible !important;
	  -webkit-transform: translateZ(0);
    transform: translateZ(0);
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
    transform-origin: center center;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
	}

	.link--nukun:active span,
	.link--nukun:hover span {
	  transform: rotateY(180deg) translateZ(1px) !important;
	  -webkit-transform: rotateY(180deg) translateZ(1px) !important;
	}
	
	.link--nukun::before,
	.link--nukun::after {
	  width: 40% !important;
	  left: 30% !important;
	  height: 3px !important;
	}

	
	  
	  .link--nukun:hover span {
		-webkit-transform: rotateY(180deg) !important;
		transform: rotateY(180deg) !important;
		perspective: 500px !important;
	  }
	  
  }